@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0;
    background-color: rgba(2, 38, 106, 0.637);
    font-family: "Roboto", sans-serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

button{
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    border: none;
    background-color: rgb(33, 164, 190);
    color: white;
    transition: 0.2;

}

button:hover{
    cursor: pointer;
    background-color: rgb(9, 182, 216);
    color: white;
    box-shadow: 2px 2px 5px;
    transition: 0.2s;
}