body{
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.slider{
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 500px;
    display: none;
}

.display-img{
    display:block;
}

.img-box{
    position: relative;
    width: 500px;
    height: 500px;
}

button{
    position: absolute;
    top: 40%;
    color: white;
    background-color: rgba(58, 56, 56, 0.902);
    opacity: 0.75;
    cursor: pointer;
    transition: 0.25s;
    height: 100px;
    border: none;
}
button:hover{
    opacity: 1;
    transition: 0.25s;
}
.prev-btn{
    left: -3.8%;
}
.next-btn{
    right: -3.8%;
}