body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(205, 55%, 14%)
;
}

.stopwatch-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    gap: 20px;
    background-color: hsl(206, 25%, 27%);
    border-radius: 50px;
;
}

.timer{
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.buttons{
    display: flex;
    gap: 25px;
}

.start-btn,.stop-btn,.reset-btn{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 1px 5px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.start-btn{
    background-color: rgb(6, 196, 6);
    transition: 0.2s;
}
.start-btn:hover{
    background-color: rgb(5, 251, 5);
    box-shadow: 4px 2px 4px;
    transition: 0.2s;
}

.stop-btn{
    background-color: rgb(211, 18, 47);
    transition: 0.2s;
}
.stop-btn:hover{
    background-color: rgb(251, 5, 21);
    box-shadow: 4px 2px 4px;
    transition: 0.2s;
}

.reset-btn{
    background-color: rgb(73, 6, 196);
    transition: 0.2s;
}
.reset-btn:hover{
    background-color: rgb(5, 87, 251);
    box-shadow: 4px 2px 4px;
    transition: 0.2s;
}