body{
    margin: 0;
}

.clock-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clock{
    backdrop-filter: blur(5px);
    padding: 10px;
}